<!-- Footer -->
<footer id="contact">
	<p>
		FULL NODE &nbsp; Skalitzer Strasse 85-86, 10997 Berlin, Germany, <a href="mailto:info@fullnode.berlin">info@fullnode.berlin</a>

		<span class="social-media">
			<a href="http://www.facebook.com/fullnode.berlin" target="_blank">
				<i class="fa fa-facebook-square"></i>
			</a>
			<a href="http://www.instagram.com/fullnode_berlin" target="_blank">
				<i class="fa fa-instagram"></i>
			</a>
			<a href="http://www.twitter.com/fullnode_berlin" target="_blank">
				<i class="fa fa-twitter-square"></i>
			</a>
		</div>
	</p>
</footer>