<!-- Mailing list -->
<section class="light section-small">
	<div class="container">
		<div class="col-lg-12">
			<form action="https://gnosis.us13.list-manage.com/subscribe/post?u=1a123436baa68728b8cfa3402&amp;id=d5cfae8747" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<p class="mailing-list">
					To get the latest updates just submit your <input type="email" value="" name="EMAIL" placeholder="Email address" class="required email" id="mce-EMAIL"> <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">AND GO </button>
				</p>
			</form>
		</div>
	</div>
</section>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->