@import "mixins.less";

@theme-base: #ffffff;
@theme-color: #007dfd;
@theme-dark: #1a1a1a;
@theme-light: #f9f9f9; // #f2f2f2;
@theme-gray: #808080;

@ui-padding: 50px;
@ui-padding-sm: 15px;
@container-inverse-padding: -65px;
@container-inverse-padding-sm: -30px;

body,html {
	background: @theme-base;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}


/****************
Typography
****************/

@font-face {
    font-family: 'apercumedium';
    src: url('/fonts/apercu-medium.woff2') format('woff2'), url('/fonts/apercu-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'apercu_monoregular';
    src: url('/fonts/apercu-mono-regular.woff2') format('woff2'), url('/fonts/apercu-mono-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'apercumedium';
	color: @theme-color;
	z-index: 10 !important;
	letter-spacing: -1px;
	margin-top: 0;
}

h1 {
	font-size: 72px;
	.small-viewport({
		font-size: 36px;
	});
}
h2 {
	font-size: 48px;
	.small-viewport({
		font-size: 26px;
		letter-spacing: 0;
	});
}

h2,h3,h4,h5,h6 {
	text-transform: uppercase;
}

p {
	color: @theme-dark;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 1px;
}

.mono {
	font-family: 'apercu_monoregular';
	text-transform: uppercase;	
	.small-viewport({
		font-size: 14px;
	});
}

a.mono {
	color: @theme-dark;
	text-decoration: none;
	&:hover, &:active, &:visited, &:focus {
		color: @theme-dark;
		text-decoration: none;
	}
}


/************
Containers
************/

section {
	padding: 0;
	margin: 0;
	width: 100%;
	min-height: 100vh;
	padding: @ui-padding 0;
}

section.section-small {
	min-height: auto;
}

section.landing {
    background: url(/images/header_canvas.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;
    padding: 0;
	.small-viewport({
		background: url(/images/header_mobile.jpg) no-repeat center center fixed;
		-webkit-background-size: contain; /* For WebKit*/
		-moz-background-size: contain;    /* Mozilla*/
		-o-background-size: contain;      /* Opera*/
		background-size: contain;
	});
    #logo {
    	height: 100px;
		.small-viewport({
			margin-top: 50px !important;
			height: auto;
			width: 95px;
			margin-left: -15px;
			margin-right: -15px;
		});
    }
}

section.light {
	background: @theme-light;
}

/* Amenities section */
section.dark {
	background: @theme-dark;
	img {
		display: block;
		margin: 25px auto;
		width: 100%;
		max-height: 60px;
		.small-viewport({
			max-height: 40px;
		});
	}
	h1,h2,h3,h4,h5,h6 {
		text-align: center;
	}
	h4 {
		display: block;
		margin: 0 auto;
		width: 75%;
		.small-viewport({
			font-size: 16px;
		});
	}
	.small-viewport({
		height: 100vh;
		#subscriptions {
			h4 {
				width: 100%;
			}
		}
	});
}

.container {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}

.row {
	margin: 0 @ui-padding;
	padding: @ui-padding 0;
	.small-viewport({
		margin: 0 @ui-padding-sm;
		padding: @ui-padding-sm 0;
	});
}

.table-row {
	display: table;
	table-layout: fixed;
}

.table-row [class^="col-"] {
	display: table-cell;
	float: none;
}

[class^="col-"] {
	.small-viewport({
		margin-bottom: @ui-padding-sm;
	});
}

[class^="col-"]:last-child {
	.small-viewport({
		margin-bottom: 0;
	});
}

footer {
	background: @theme-dark;
	padding: @ui-padding;
	a, a:hover, a:active, a:focus, a:visited {
		color: @theme-light;
		text-decoration: none;
	}
	p {
		text-align: center;
		color: @theme-light;
	}
	.social-media {
		display: inline;
		margin-left: @ui-padding/2;
		/* Icons */
		a, a:hover, a:active, a:focus, a:visited {
			color: @theme-light;
			font-size: 18px;
			text-decoration: none;
			padding-right: 5px;
		}
		.small-viewport({
			display: block;
			margin-left: 0;
			margin-top: @ui-padding-sm;
		});
	}
}

/****************
Components
****************/

nav {
	a {
		color: @theme-dark;
		text-decoration: none;
	}
	.row {
		border-bottom: 1px solid @theme-dark;
	}
}

button {
	background: transparent;
	border: none;
}

button.active {
	background: @theme-color !important;
	border-color: @theme-color !important;
	border-bottom: none;
}

.btn-primary {
	background: transparent;
	color: @theme-dark;
	font-family: 'apercu_monoregular';
	text-transform: uppercase;
	border-color: @theme-dark;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;	
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: none;
	width: 150px;
	&:hover, &:active, &:focus {
		background: @theme-color;
		color: @theme-light;
		border-color: @theme-color;
	}
	.small-viewport({
		font-size: 12px;
		width: auto;
	});
}
	
hr {
	border-color: @theme-dark;
}


/****************
Image Placement
****************/

.parent-element {
    position: relative;
}

.child-element {
   position: absolute;
   top: 50%;
   transform: translate(0, -50%);
}

.child-element-2-3 {
   position: absolute;
   bottom: 0;
   left: 20%;
}

.image-bleed {
	max-width: 100%;
	margin-right: @container-inverse-padding;
	margin-left: @container-inverse-padding;
	z-index: 1 !important;
	.small-viewport({
		display: none;
	});
}

/* Text on images */
.overlay {
	text-align: right;
	z-index: 100 !important;
	.small-viewport({
		display: none;
	});
}

.blue-block {
	background-color: @theme-color !important;
	padding: @ui-padding;
	h1,h2,h3,h4,h5,h6,p {
		color: @theme-light;
	}
	height: 250px;
}

.rounded-right {
	border-top-right-radius: @ui-padding*2;
	border-bottom-right-radius: @ui-padding*2;
}

.rounded-left {
	border-top-left-radius: @ui-padding*2;
	border-bottom-left-radius: @ui-padding*2;
}

.bottom {
	position: absolute;
	bottom: @ui-padding;
	right: @ui-padding;
}

.top {
	position: absolute;
	top: @ui-padding;
	right: @ui-padding;
}

.col-bleed-left {
	margin-left: -65px;
	padding-left: 65px;
	margin-right: -15px;
	padding-right: 15px;
	.small-viewport({
		margin-left: @container-inverse-padding-sm;
		padding-left: -@container-inverse-padding-sm;
	});
}

.col-bleed-right {
	margin-right: -65px;
	padding-right: 65px;
	p {
		text-align: center;
		margin-top: -50%;
		margin-bottom: -50%;
		padding: 0;
	}
	.small-viewport({
		margin-right: @container-inverse-padding-sm;
		padding-right: -@container-inverse-padding-sm;
	});
}

/****************
Content-Specific
****************/

.call-to-action {
	padding-top: @ui-padding;
	a {
		margin-right: @ui-padding;
	}
	.small-viewport({
		padding-top: @ui-padding-sm;
		a {
			margin-top: @ui-padding-sm;
			margin-right: @ui-padding-sm;
		}
	});
}

.header {
	background: @theme-color;
	position: absolute;
	width: 100%;
	bottom: 0;
	margin: 0;
	padding: 0;
	padding-top: @ui-padding/2;
	h1, h2, h3, h4, h5, h6, p {
		color: @theme-light;
	}
	h1, h2, h3, h4, h5, h6 {
		text-transform: capitalize;
	}
	h2 {
		font-size: 42px;
		text-align: right;
		margin: 0 @ui-padding;
		.small-viewport({
			font-size: 36px;
			text-align: center;
			margin: 0;
		});
	}
	.mono {
		color: @theme-dark;
		text-align: center;
	}
	img {
		top: @ui-padding !important;
	}
	.row {
		padding: 0;
		padding: 15px 0;
		margin: 0 @ui-padding;
		.small-viewport({
			margin: 0 @ui-padding-sm;
		});
	}
	#tagline {
		padding-bottom: 0;
	}
}

#logo {
	height: 60px;
	margin-top: -10px !important;
	display: block;
	margin: 0 auto;
	.small-viewport({
		margin-top: 30px !important;
		height: 45px;
	});
}

#description {
	p {
		margin: @ui-padding 0;
		.small-viewport({
			margin: 0;
		});
	}
	img {
		z-index: 1 !important;
	}
	.container {
		height: 100%;
	}
}

#laptops {
	margin-top: -26px;
}

#desk {
	max-width: 400px;
	z-index: 101 !important;
	.small-viewport({
		display: none;
	});
}

#building {
	margin-top: @ui-padding;
}

.mailing-list {
	color: @theme-color;
	text-align: center;
	.email {
		&:extend(.mono);
		background: transparent;
		border: none;
		border-bottom: 1px solid @theme-dark;
		width: 350px;
		max-width: 80%;
		margin: 10px;
		&:active {
			border-color: @theme-color;
			border-radius: 5px;
		}
		.small-viewport({
			text-align: center;
		});
	}
	button {
		background: transparent;
		border: none;
		&:active {
			border-color: @theme-color;
			border-radius: 5px;
		}
	}
}


/*************
Join Form
*************/

#join {
	a {
		position: absolute;
		bottom: 25px;
	}
	.row {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display:         flex;
		flex-wrap: wrap;
	}
	.row > [class*='col-'] {
		display: flex;
		flex-direction: column;
	}
	input {
		&:extend(.mono);
		background: transparent;
		width: 100%;
		text-transform: uppercase;
		padding: 0 5px;
		padding-top: 5px;
		margin-bottom: 25px;
		border: none;
		border-bottom: 1px solid @theme-dark;
		&:active {
			border-color: @theme-color;
			border-radius: 5px;
		}
	}
	label {
		&:extend(p);
		font-weight: 400;
		font-size: 13px;
		margin-right: 8px;
	}
	.radio {
		display: inline;
		width: auto;
		margin-bottom: 0px;
		margin-right: 3px;
	}
	.checkbox {
		display: inline;
		width: auto;
		margin-right: 3px;
	}
	.question {
		&:extend(p);
		font-size: 13px;
		display: inline-block;
		width: 40%;
		vertical-align: top;
		.small-viewport({
			display: block;
			width: 100%;
			margin-bottom: @ui-padding-sm;
		});
	}
	.answer {
		font-size: 13px;
		display: inline-block;
		width: 60%;
		margin-bottom: 15px;
		.small-viewport({
			display: block;
			width: 100%;
		});
	}
	textarea {
		&:extend(.mono);
		background-color: transparent;
		height: 300px;
		border: 1px solid @theme-dark;
		width: 100%;
	}
	.required {
		font-size: 13px;
	}
	.join-now {
		position: absolute;
		bottom: 25px;
		padding-top: @ui-padding;
		label {
			font-size: 16px;
			.small-viewport({
				font-size: 14px;
			});
		}
		.small-viewport({
			position: relative;
		});
	}
	.drop-line {
		position: absolute;
		bottom: 25px;
		.small-viewport({
			position: relative;
			width: auto;
			bottom: auto;
			margin-top: @ui-padding;
			width: 150px;
		});
	}
	#description {
		.small-viewport({
			margin-bottom: @ui-padding;
		});		
	}
}

#events {
	.btn {
		margin-top: @ui-padding;
	}
}

/***************
Modal menu
***************/

#modal-menu {
	background-color: @theme-dark;
	color: @theme-light;
	
	margin: 0;
	padding: 0;
	.modal-dialog, .modal-content {
		background-color: @theme-dark;
		color: @theme-light;
		margin: 0;
		padding: 0;
		width: 100vw;
		height: 100vh;
		border-radius: 0;
	}
	.menu-items {
		text-align: center;
		width: 60%;
		display: block;
		margin: @ui-padding*2 auto;
		.small-viewport({
			margin: @ui-padding auto;
		});
	}
    #logo {
    	height: 100px;
		.small-viewport({
			margin-top: 50px !important;
			height: auto;
			width: 95px;
			margin-left: -15px;
			margin-right: -15px;
		});
    }
    .join-button {
    	border-color: @theme-light;
    	color: @theme-light;
    	&:hover {
    		border-color: @theme-color;
    	}
    }
    a {
    	&:extend(.mono);
    	color: @theme-light;
    	text-align: center;
    	&:hover, &:active, &:focus, &:visited {
    		text-decoration: none;
    		color: @theme-light;
    	}
    }

    hr {
    	margin-bottom: @ui-padding;
    	border-color: @theme-light;
    }
}

.fa-times-thin:before {
	content: '\00d7';
	font-size: 54px;
	.small-viewport({
		font-size: 26px;
		margin-top: -50px !important;
	});
}

.join-text {
	padding-top: 8px;
}

.dark {
	background-color: @theme-dark;
}

.impressum {
	background-color: @theme-dark;
	color: @theme-light;
	height: 100vh;
	margin: 0;
	padding: 0;
	hr {
		border-color: @theme-light;
	}
	p {
		color: @theme-light;
	}
    #logo {
    	height: 100px;
		.small-viewport({
			margin-top: 50px !important;
			height: auto;
			width: 95px;
			margin-left: -15px;
			margin-right: -15px;
		});
    }
    .join-button {
    	border-color: @theme-light;
    	color: @theme-light;
    	&:hover {
    		border-color: @theme-color;
    	}
    }
    a {
    	&:extend(.mono);
    	color: @theme-light;
    	text-align: center;
    	&:hover, &:active, &:focus, &:visited {
    		text-decoration: none;
    		color: @theme-light;
    	}
    }
    hr {
    	margin-bottom: @ui-padding;
    	border-color: @theme-light;
    }
    i {
    	color: @theme-light;
    }
    .row {
    	margin-top: @ui-padding-sm;
    	margin-bottom: @ui-padding-sm;
    }
}

/***************
Mobile styles
****************/

.image-mobile {
	display: none;
	width: 100vw;
	.small-viewport({
		display: block;
	});
}

.join-mobile {
	display: none;
	width: 100vw;
	height: auto;
	padding: @ui-padding/2;
	border-bottom-right-radius: @ui-padding;
	border-bottom-left-radius: @ui-padding;
	.small-viewport({
		display: block;
	});
}

.slider-controls {
	display: none;
	margin: auto;
	text-align: center;
	margin-bottom: @ui-padding;
	i {
		font-size: 36px;
		-webkit-text-stroke: 6px @theme-dark;
	}
	a {
		color: @theme-color;
		text-decoration: none;
		&:hover, &:active, &:focus, &:visited {
			color: @theme-color;
			text-decoration: none;
		}
	}
	.small-viewport({
		display: block;
	});
}

.slider-controls-light {
	i {
		-webkit-text-stroke: 6px @theme-light;
	}
}

.more {
	margin: @ui-padding;
	color: @theme-color;
	position: relative;
	top: -7px;
}

.carousel {
	.row {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display:         flex;
		flex-wrap: wrap;
	}
	.row > [class*='col-'] {
		display: flex;
		flex-direction: column;
	}	
}

#carousel-amenities {
	.carousel-inner {
		height: 400px;
	}
}

#carousel-about {
	display: none;
	margin-top: @ui-padding;
	.carousel-inner {
		height: 300px;
	}
	.item {
		padding-left: 30px;
	}
	.small-viewport({
		display: block;
	});
}

.slider-controls-about {
	margin-bottom: 0 !important;
}

#carousel-about-2 {
	display: none;
	.carousel-inner {
		height: 300px;
	}
	.item {
		padding-left: 30px;
	}
	.small-viewport({
		display: block;
	});
}

.subpages {
	text-align: center !important;
	.mono {
	}
}

.memberships {
	.title {
		padding-bottom: 0;
		.small-viewport({
			margin-top: -1px;
		});		
	}
	.row {
		padding-top: 0 !important;
	}
	.plan {
		padding: 0;
		padding-bottom: @ui-padding-sm;
		border: 3px solid @theme-gray;
		margin-top: @ui-padding;
		h3 {
			background: @theme-gray;
			color: @theme-light;
			padding: @ui-padding-sm;
			text-transform: capitalize;
			margin: 0;
		}
		img {
			width: 100%;
			margin-top: -1px;
		}
		p {
			padding: @ui-padding-sm;
			padding-left: @ui-padding-sm*2;
			padding-right: @ui-padding-sm*2;
			font-size: 14px;
			color: #808080;
		}
		a {
			text-align: center;
			cursor: pointer;
		}
		a:hover, a:active, a:focus, a:visited {
			text-decoration: none;
		}
		.row {
			padding: 0;
			margin: 0;
		}
		.at-a-glance {
			margin-top: 25px;
			p {
				padding: 0;
			}
			.best-for {
				padding: 0 @ui-padding-sm;
				border-right: 1px solid @theme-gray;
				.small-viewport({
					border: none;
					padding-bottom: 0;
				});
			}
			.cost {
				.small-viewport({
					padding-left: @ui-padding-sm;
				});				
			}
		}
		.btn-primary {
			position: absolute;
			background: @theme-light;
			bottom: -30px;
			border: 3px solid @theme-gray;
			border-top: none;
			border-radius: 0;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
			width: 43%;
			padding: 5px 0;
			.small-viewport({
				bottom: -26px;
			});	
		}
		.btn-primary:active {
			background: @theme-light;
			border-color: @theme-color;
		}
		.button-more  {
			color: @theme-gray;
			left: 5%;
		}
		.request, .request:active, .request:focus, .request:visited {
			background: @theme-gray;
			color: @theme-light;
			right: 5%;
			border: 3px solid @theme-gray;
			border-top: none;
		}
	}
}

.desk-description {
	display: none;
}

.memberships {
	.active {
		border: 3px solid @theme-color;
		h3 {
			background: @theme-color;
			color: @theme-light;
		}
		.btn-primary {
			background: @theme-light;
			border: 3px solid @theme-color;
			border-top: none;

		}
		p {
			color: @theme-dark;
		}
		.button-more {
			color: @theme-color;
		}
		.request {
			background: @theme-color;
		}
	}
}

.btn-primary:focus, button:focus {
  outline: none !important;
}

